# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd

url1='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

insur_df1=pd.read_csv(url1)
insur_df2=pd.read_csv(url2)
insur_df3=pd.read_csv(url3)

In [3]:
insur_df3 = insur_df3.rename(columns={'State':'ST','Gender':'GENDER'})

In [4]:
insur_columns = insur_df1.columns.tolist()
insur_df2 = insur_df2.reindex(columns=insur_columns)
insur_df3 = insur_df3.reindex(columns=insur_columns)

In [5]:
insur_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Policy Type                996 non-null    object
 9   Vehicle Class              996 non-null    object
 10  Total Claim Amount         996 non-null    float64
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

In [6]:
insur_columns = ['customer', 'state', 'gender', 'education', 'clv', 'income', 'monthly_prem', 'open_complaints', \
                 'policy_type', 'vehicle_class', 'total_claim_amt']
# manually renamed all columns because I prefer shorter column names

for df in [insur_df1, insur_df2, insur_df3]:
    df.columns = insur_columns
        
#insur_df1.columns = insur_columns
#insur_df2.columns = insur_columns
#insur_df3.columns = insur_columns

# consider using .rename() with lambda function 
# .rename(columns = lambda x:x.lower().replace(' ','_'))

In [7]:
insur_df = pd.concat([insur_df1,insur_df2,insur_df3],axis=0)  # better to add ignore_index=True when concatenating
insur_df = insur_df.reset_index(drop=True)
insur_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer         9137 non-null   object
 1   state            9137 non-null   object
 2   gender           9015 non-null   object
 3   education        9137 non-null   object
 4   clv              9130 non-null   object
 5   income           9137 non-null   float64
 6   monthly_prem     9137 non-null   float64
 7   open_complaints  9137 non-null   object
 8   policy_type      9137 non-null   object
 9   vehicle_class    9137 non-null   object
 10  total_claim_amt  9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

In [8]:
for column in insur_df:
    insur_df[column].replace(
        ['Femal','female','Male','WA','AZ','Cali','Bachelor','Luxury SUV','Sports Car','Luxury Car'],
        ['F','F','M','Washington','Arizona','California','Bachelors','Luxury','Luxury','Luxury'],
        inplace=True)

In [9]:
insur_df.clv = insur_df.clv.apply(lambda x:x.replace('%','') if isinstance(x, str) else x)

In [20]:
insur_df.clv = pd.to_numeric(insur_df.clv, errors='coerce')

In [10]:
insur_df.open_complaints = insur_df.open_complaints.apply(lambda x:int(x.split('/')[1]) if (isinstance(x, str) and '/' in x) else x)

In [12]:
insur_df.open_complaints.unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

In [14]:
insur_df.isna().sum()

customer           2937
state              2937
gender             3059
education          2937
clv                2944
income             2937
monthly_prem       2937
open_complaints    2937
policy_type        2937
vehicle_class      2937
total_claim_amt    2937
dtype: int64

In [15]:
insur_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer         9137 non-null   object
 1   state            9137 non-null   object
 2   gender           9015 non-null   object
 3   education        9137 non-null   object
 4   clv              9130 non-null   object
 5   income           9137 non-null   float64
 6   monthly_prem     9137 non-null   float64
 7   open_complaints  9137 non-null   float64
 8   policy_type      9137 non-null   object
 9   vehicle_class    9137 non-null   object
 10  total_claim_amt  9137 non-null   float64
dtypes: float64(4), object(7)
memory usage: 1.0+ MB

In [16]:
insur_df.dropna(subset=['customer','state','clv','income','monthly_prem','vehicle_class','policy_type'],inplace=True)

In [18]:
insur_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9130 entries, 1 to 12073
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer         9130 non-null   object
 1   state            9130 non-null   object
 2   gender           9010 non-null   object
 3   education        9130 non-null   object
 4   clv              9130 non-null   object
 5   income           9130 non-null   float64
 6   monthly_prem     9130 non-null   float64
 7   open_complaints  9130 non-null   float64
 8   policy_type      9130 non-null   object
 9   vehicle_class    9130 non-null   object
 10  total_claim_amt  9130 non-null   float64
dtypes: float64(4), object(7)
memory usage: 855.9+ KB

In [21]:
insur_df.customer = insur_df.customer.fillna('unavailable')
insur_df.state.ffill(inplace=True)
insur_df.gender.fillna('D',inplace=True)
insur_df.education.fillna('Undefined',inplace=True)
insur_df.clv.fillna(insur_df.clv.mean(),inplace=True)
insur_df.income.fillna(insur_df.income.median(),inplace=True)
insur_df.monthly_prem.fillna(insur_df.monthly_prem.median(),inplace=True)
insur_df.open_complaints.fillna(insur_df.open_complaints.median(),inplace=True)
insur_df.vehicle_class.fillna('Undefined',inplace=True)
insur_df.total_claim_amt.fillna(insur_df.total_claim_amt.mean(),inplace=True)
insur_df.policy_type.fillna('Undefined',inplace=True)

In [24]:
insur_df.isna().sum()

customer           0
state              0
gender             0
education          0
clv                0
income             0
monthly_prem       0
open_complaints    0
policy_type        0
vehicle_class      0
total_claim_amt    0
dtype: int64

In [25]:
insur_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9130 entries, 1 to 12073
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer         9130 non-null   object
 1   state            9130 non-null   object
 2   gender           9130 non-null   object
 3   education        9130 non-null   object
 4   clv              9130 non-null   float64
 5   income           9130 non-null   float64
 6   monthly_prem     9130 non-null   float64
 7   open_complaints  9130 non-null   float64
 8   policy_type      9130 non-null   object
 9   vehicle_class    9130 non-null   object
 10  total_claim_amt  9130 non-null   float64
dtypes: float64(5), object(6)
memory usage: 855.9+ KB

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [40]:
markinsur_df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv',
                       index_col=['unnamed:_0'])
markinsur_df.index.name = None
markinsur_df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [41]:
markinsur_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10910 non-null  object
 1   state                          10910 non-null  object
 2   customer_lifetime_value        10910 non-null  float64
 3   response                       10910 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective_to_date              10910 non-null  object
 7   employmentstatus               10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location_code                  10910 non-null  object
 11  marital_status                 10910 non-null  object
 12  monthly_premium_auto           10910 non-null  int64
 13  months_since_last_claim        10910 non-null  float64
 14  months_since_policy_inception  10910 non-null  int64
 15  number_of_open_complaints      10910 non-null  float64
 16  number_of_policies             10910 non-null  int64
 17  policy_type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew_offer_type               10910 non-null  object
 20  sales_channel                  10910 non-null  object
 21  total_claim_amount             10910 non-null  float64
 22  vehicle_class                  10910 non-null  object
 23  vehicle_size                   10910 non-null  object
 24  vehicle_type                   10910 non-null  object
 25  month                          10910 non-null  int64
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [45]:
# assuming clv = total revenue

revenue_pivot = markinsur_df.pivot_table(index='sales_channel',values='customer_lifetime_value',aggfunc=['sum','mean','count']).round(2)
revenue_pivot

# sales from agent most successful of the four different sales channels, web was least successful
# sales from call center may be more valuable per customer, with average sales being higher and lower customer count

,sum,mean,count
,customer_lifetime_value,customer_lifetime_value,customer_lifetime_value
sales_channel,,,
Agent,33057887.85,8021.81,4121
Branch,24359201.21,8060.62,3022
Call Center,17364288.37,8110.36,2141
Web,12697632.90,7809.12,1626

In [56]:
# assuming monthly_premium_auto = monthly revenue

revenue_pivot2 = markinsur_df.pivot_table(index='sales_channel',values='monthly_premium_auto',aggfunc=['sum','mean','count']).round(2)
revenue_pivot2

# could multiply customer monthly premium by number of months customer has been customer using effective_to_date

                               sum                 mean                count
              monthly_premium_auto monthly_premium_auto monthly_premium_auto
sales_channel
Agent                       386335                93.75                 4121
Branch                      280953                92.97                 3022
Call Center                 197970                92.47                 2141
Web                         151511                93.18                 1626

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [50]:
revenue_stats = markinsur_df.pivot_table(index='education',columns='gender',values='customer_lifetime_value',
                                       aggfunc='mean', margins=True, margins_name='Average')
revenue_stats

# in many cases, on average, more revenue coming from M
# however, F educated high school or below provide more revenue than M

gender                          F            M      Average
education
Bachelor              7874.269478  7703.601675  7792.273822
College               7748.823325  8052.459288  7900.072700
Doctor                7328.508916  7415.333638  7372.029537
High School or Below  8675.220201  8149.687783  8415.293805
Master                8157.053154  8168.832659  8162.524581
Average               8071.105001  7963.039566  8018.241094

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here